# From SQL to Pandas Challenge 1

In [2]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titleauthor = pd.read_csv(gd_path(files_id["titleauthor"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
jobs = pd.read_csv(gd_path(files_id["jobs"]), sep=";")
titles =  pd.read_csv(gd_path(files_id["titles"]), sep=";")

We have loaded the tables: 

* `sales`
* `authors`
* `titleauthor`
* `publishers`
* `jobs`

You can use them by writting `sales`, `authors`, `titleauthor`, `publishers` or `jobs` in a cell.

## 1. Select everything from the table authors

In [3]:
authors

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1
2,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1
3,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1
4,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1
5,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0
6,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1
7,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
8,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1
9,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1
10,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0
11,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1
12,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1
13,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1
14,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1
15,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1
17,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1
18,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1
19,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
20,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1
22,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT * FROM authors;
```

## 2. Select everything from the tables "titles", "titleauthor", "publishers" and "sales" (one table at a time). Look at the raw data and think about how these tables are related to each other.

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT * FROM titles;

SELECT * FROM titleauthor;

SELECT * FROM publishers;

SELECT * FROM sales;
```

## 3. Select the authors first and last name

In [ ]:
authors[["au_lname","au_fname"]]

          au_lname     au_fname
0            White      Johnson
1            Green     Marjorie
2           Carson       Cheryl
3          O'Leary      Michael
4         Straight         Dean
5            Smith      Meander
6           Bennet      Abraham
7             Dull          Ann
8       Gringlesby         Burt
9         Locksley     Charlene
10          Greene  Morningstar
11  Blotchet-Halls     Reginald
12        Yokomoto        Akiko
13    del Castillo        Innes
14        DeFrance       Michel
15        Stringer         Dirk
16      MacFeather      Stearns
17          Karsen        Livia
18        Panteley       Sylvia
19          Hunter       Sheryl
20        McBadden      Heather
21          Ringer         Anne
22          Ringer       Albert

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT 
    au_fname, au_lname
FROM
    authors
```

## 4. Select the publisher names

In [4]:
publishers["pub_name"]

0           New Moon Books
1         Binnet & Hardley
2     Algodata Infosystems
3    Five Lakes Publishing
4        Ramona Publishers
5                    GGG&G
6           Scootney Books
7       Lucerne Publishing
Name: pub_name, dtype: object

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT 
    pub_name
FROM
    publishers;
```

## 5. Select the title, price and year-to-date sales of all titles

In [ ]:
titles[['title','price','ytd_sales']]

                                                title  price  ytd_sales
0                 The Busy Executive's Database Guide  19.99       4095
1   Cooking with Computers: Surreptitious Balance ...  11.95       3876
2                     You Can Combat Computer Stress!   2.99      18722
3                       Straight Talk About Computers  19.99       4095
4                   Silicon Valley Gastronomic Treats  19.99       2032
5                               The Gourmet Microwave   2.99      22246
6                  The Psychology of Computer Cooking   0.00          0
7                            But Is It User Friendly?  22.95       8780
8                           Secrets of Silicon Valley  20.00       4095
9                                       Net Etiquette   0.00          0
10  Computer Phobic AND Non-Phobic Individuals: Be...  21.59        375
11                                Is Anger the Enemy?  10.95       2045
12                                  Life Without Fear   7.00        111
13      Prolonged Data Deprivation: Four Case Studies  19.99       4072
14                Emotional Security: A New Algorithm   7.99       3336
15  Onions, Leeks, and Garlic: Cooking Secrets of ...  20.95        375
16          Fifty Years in Buckingham Palace Kitchens  11.95      15096
17                                     Sushi, Anyone?  14.99       4095

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT 
    title, price, ytd_sales
FROM
    titles;
```

## 6. Select all the authors first names, but display the column with the alias "first_name"

In [14]:
authors.rename(columns = {'au_fname':'first_name'}, inplace = True)
authors

,au_id,au_lname,first_name,phone,address,city,state,zip,contract
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1
2,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1
3,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1
4,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1
5,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0
6,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1
7,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
8,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1
9,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1
10,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0
11,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1
12,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1
13,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1
14,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1
15,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1
17,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1
18,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1
19,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
20,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1
22,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1

### HINT

The syntax to select everything from a table in SQL is:

```sql
SELECT 
	au_fname AS first_name
FROM
	authors;
```

You can rename columns in pandas with the `rename` method, here is the link to the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

## 7. Select the job id and job description of all jobs, but display the columns with the names "id" and "description"

In [9]:
jobs.rename(columns = {'job_id':'id', 'job_desc':'description'}, inplace = True)

jobs[["id","description"]]

    id                   description
0    1  New Hire - Job not specified
1    2       Chief Executive Officer
2    3   Business Operations Manager
3    4      Chief Financial Officier
4    5                     Publisher
5    6               Managing Editor
6    7             Marketing Manager
7    8      Public Relations Manager
8    9          Acquisitions Manager
9   10           Productions Manager
10  11            Operations Manager
11  12                        Editor
12  13          Sales Representative
13  14                      Designer

### HINT

```sql
SELECT
	job_id AS id,
	job_desc AS description
FROM
	jobs;
```

You can rename columns in pandas with the `rename` method, here is the link to the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

## 8. Select all unique last names of authors (the same last name cannot appear more than once)

In [20]:
authors['au_lname'].unique()

array(['White', 'Green', 'Carson', "O'Leary", 'Straight', 'Smith',
       'Bennet', 'Dull', 'Gringlesby', 'Locksley', 'Greene',
       'Blotchet-Halls', 'Yokomoto', 'del Castillo', 'DeFrance',
       'Stringer', 'MacFeather', 'Karsen', 'Panteley', 'Hunter',
       'McBadden', 'Ringer'], dtype=object)

### HINT

```sql
SELECT
	DISTINCT au_lname
FROM
	authors;
```

## 9. Select all unique title id's that were involved in a sale

In [23]:
sales['title_id'].unique()

array(['BU1032', 'PS2091', 'PC8888', 'TC3218', 'TC4203', 'TC7777',
       'MC3021', 'PS1372', 'PS2106', 'PS3333', 'PS7777', 'BU7832',
       'MC2222', 'BU2075', 'BU1111', 'PC1035'], dtype=object)

### HINT

```sql
SELECT
	DISTINCT title_id
FROM
	sales;
```