# From SQL to pandas challenge 6

In [ ]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
stores = pd.read_csv(gd_path(files_id["stores"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
jobs = pd.read_csv(gd_path(files_id["jobs"]), sep=";")

## 1. Select the name and state of all stores located in either California (CA) or Oregon (OR)

In [ ]:
stores[["stor_name", "stor_address"]][stores["state"].isin(["CA" , "OR"])]

            stor_name       stor_address
1            Barnum's  567 Pasadena Ave.
2        News & Brews      577 First St.
4  Fricative Bookshop     89 Madison St.
5            Bookbeat     679 Carson St.

### Hint:

In SQL the syntax is:

```sql
SELECT stor_name,stor_address,state  
FROM stores  
WHERE state IN("CA","OR");
```

## 2. Using `.isin()`, select all titles of type "psychology", "mod_cook" and "trad_cook"

In [ ]:
titles[["title","type"]] [titles["type"].isin(["psychology", "mod_cook", "trad_cook"])]

                                                title        type
4                   Silicon Valley Gastronomic Treats    mod_cook
5                               The Gourmet Microwave    mod_cook
10  Computer Phobic AND Non-Phobic Individuals: Be...  psychology
11                                Is Anger the Enemy?  psychology
12                                  Life Without Fear  psychology
13      Prolonged Data Deprivation: Four Case Studies  psychology
14                Emotional Security: A New Algorithm  psychology
15  Onions, Leeks, and Garlic: Cooking Secrets of ...   trad_cook
16          Fifty Years in Buckingham Palace Kitchens   trad_cook
17                                     Sushi, Anyone?   trad_cook

### Hint:

In SQL the syntax is:

```sql
SELECT title,type
FROM titles
WHERE type IN('psychology','mod_cook','trad_cook');
```

## 3. Select all the authors from the authors table that do not come from the cities Salt Lake City, Ann Arbor, and Oakland.

In [ ]:
authors[["au_lname","au_fname"]] [~authors["city"].isin(["Salt Lake City", "Ann Arbor", "Oakland"])]

          au_lname     au_fname
0            White      Johnson
2           Carson       Cheryl
3          O'Leary      Michael
5            Smith      Meander
6           Bennet      Abraham
7             Dull          Ann
8       Gringlesby         Burt
9         Locksley     Charlene
10          Greene  Morningstar
11  Blotchet-Halls     Reginald
12        Yokomoto        Akiko
14        DeFrance       Michel
18        Panteley       Sylvia
19          Hunter       Sheryl
20        McBadden      Heather

### Hint:

In SQL the syntax is:

```sql
SELECT *
FROM authors
WHERE city NOT IN ('Salt Lake City', 'Ann Arbor', 'Oakland');
```

## 4. Select all the order numbers with a quantity sold between 25 and 45 from the table sales

In [ ]:
sales[['ord_num', 'qty']][ (sales['qty']>25) & (sales['qty']<45) ]

    ord_num  qty
5     P2121   40
16     X999   35
20  QA879.1   30

### Hint:

In SQL the syntax is:

```sql
SELECT ord_num, qty
FROM sales
WHERE qty BETWEEN 25 AND 45;
```

## 5. Select all the sales between 1993-03-11 and 1994-09-13

In [ ]:
sales[["ord_num", "qty", "ord_date"]] [ (sales["ord_date"] <= '1994-09-13') & (sales["ord_date"] >= '1993-03-11') ]

NameError: ignored

In [ ]:
(
sales
    .loc[sales['ord_date'].between(left='1993-03-11', right ='1994-09-20', inclusive = 'both')]
)

    stor_id   ord_num             ord_date  qty    payterms title_id
0      6380      6871  1994-09-14 00:00:00    5      Net 60   BU1032
1      6380      722a  1994-09-13 00:00:00    3      Net 60   PS2091
2      7066     A2976  1993-05-24 00:00:00   50      Net 30   PC8888
3      7066  QA7442.3  1994-09-13 00:00:00   75  ON invoice   PS2091
4      7067     D4482  1994-09-14 00:00:00   10      Net 60   PS2091
8      7131   N914008  1994-09-14 00:00:00   20      Net 30   PS2091
9      7131   N914014  1994-09-14 00:00:00   25      Net 30   MC3021
10     7131    P3087a  1993-05-29 00:00:00   20      Net 60   PS1372
11     7131    P3087a  1993-05-29 00:00:00   25      Net 60   PS2106
12     7131    P3087a  1993-05-29 00:00:00   15      Net 60   PS3333
13     7131    P3087a  1993-05-29 00:00:00   25      Net 60   PS7777
14     7896    QQ2299  1993-10-28 00:00:00   15      Net 60   BU7832
15     7896     TQ456  1993-12-12 00:00:00   10      Net 60   MC2222
17     8042  423LL922  1994-09-14 00:00:00   15  ON invoice   MC3021
18     8042  423LL930  1994-09-14 00:00:00   10  ON invoice   BU1032
19     8042      P723  1993-03-11 00:00:00   25      Net 30   BU1111
20     8042   QA879.1  1993-05-22 00:00:00   30      Net 30   PC1035

### Hint:

In SQL the syntax is:

```sql
SELECT * 
FROM sales
WHERE ord_date BETWEEN "1993-03-11" AND "1994-09-13";
```

## 6. Select all job descriptions with a maximum level ("max_lvl") between 150 and 200.

In [ ]:
jobs[["job_desc","max_lvl"]] [ (jobs["max_lvl"]>150) & (jobs["max_lvl"]<200) ]

                   job_desc  max_lvl
7  Public Relations Manager      175
8      Acquisitions Manager      175
9       Productions Manager      165

### Hint:

In SQL the syntax is:

```sql
SELECT job_desc, max_lvl
FROM jobs
WHERE max_lvl BETWEEN 150 AND 200;
```