In [ ]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")
stores = pd.read_csv(gd_path(files_id["stores"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
# Replace the logos pandas can't read with '?'
pub_info = pd.read_csv(gd_path(files_id["pub_info"]), sep=";", encoding_errors = 'replace')
discounts = pd.read_csv(gd_path(files_id["discounts"]), sep=";")
jobs = pd.read_csv(gd_path(files_id["jobs"]), sep=";")

# From SQL to pandas challenge 9

##  1. Select the table sales, assigning the alias "s" to it. 
   Select the column ord_num using the syntax `table_alias[column]`

In [ ]:
s = sales

s[["ord_num"]]

     ord_num
0       6871
1       722a
2      A2976
3   QA7442.3
4      D4482
5      P2121
6      P2121
7      P2121
8    N914008
9    N914014
10    P3087a
11    P3087a
12    P3087a
13    P3087a
14    QQ2299
15     TQ456
16      X999
17  423LL922
18  423LL930
19      P723
20   QA879.1

### Hint:

In SQL the syntax is:

```sql
SELECT s.ord_num
FROM sales AS s;
```

## 2. Select the title and publisher name of all books

In [ ]:
p = publishers
t = titles

df = pd.merge(p, t, on="pub_id", how="left")
df

df[["title", "pub_name"]]

                                                title               pub_name
0                     You Can Combat Computer Stress!         New Moon Books
1                                 Is Anger the Enemy?         New Moon Books
2                                   Life Without Fear         New Moon Books
3       Prolonged Data Deprivation: Four Case Studies         New Moon Books
4                 Emotional Security: A New Algorithm         New Moon Books
5                   Silicon Valley Gastronomic Treats       Binnet & Hardley
6                               The Gourmet Microwave       Binnet & Hardley
7                  The Psychology of Computer Cooking       Binnet & Hardley
8   Computer Phobic AND Non-Phobic Individuals: Be...       Binnet & Hardley
9   Onions, Leeks, and Garlic: Cooking Secrets of ...       Binnet & Hardley
10          Fifty Years in Buckingham Palace Kitchens       Binnet & Hardley
11                                     Sushi, Anyone?       Binnet & Hardley
12                The Busy Executive's Database Guide   Algodata Infosystems
13  Cooking with Computers: Surreptitious Balance ...   Algodata Infosystems
14                      Straight Talk About Computers   Algodata Infosystems
15                           But Is It User Friendly?   Algodata Infosystems
16                          Secrets of Silicon Valley   Algodata Infosystems
17                                      Net Etiquette   Algodata Infosystems
18                                                NaN  Five Lakes Publishing
19                                                NaN      Ramona Publishers
20                                                NaN                  GGG&G
21                                                NaN         Scootney Books
22                                                NaN     Lucerne Publishing

### Hint:

In SQL the syntax is:

```sql
SELECT t.title, p.pub_name
FROM titles t
LEFT JOIN publishers p ON t.pub_id = p.pub_id;
```

## 3. Select the order number, quantity and book title for all sales.

In [ ]:

df = pd.merge(s, t, on="title_id", how="left")

df[["ord_num", "qty", "title"]]

     ord_num  qty                                              title
0       6871    5                The Busy Executive's Database Guide
1       722a    3                                Is Anger the Enemy?
2      A2976   50                          Secrets of Silicon Valley
3   QA7442.3   75                                Is Anger the Enemy?
4      D4482   10                                Is Anger the Enemy?
5      P2121   40  Onions, Leeks, and Garlic: Cooking Secrets of ...
6      P2121   20          Fifty Years in Buckingham Palace Kitchens
7      P2121   20                                     Sushi, Anyone?
8    N914008   20                                Is Anger the Enemy?
9    N914014   25                              The Gourmet Microwave
10    P3087a   20  Computer Phobic AND Non-Phobic Individuals: Be...
11    P3087a   25                                  Life Without Fear
12    P3087a   15      Prolonged Data Deprivation: Four Case Studies
13    P3087a   25                Emotional Security: A New Algorithm
14    QQ2299   15                      Straight Talk About Computers
15     TQ456   10                  Silicon Valley Gastronomic Treats
16      X999   35                    You Can Combat Computer Stress!
17  423LL922   15                              The Gourmet Microwave
18  423LL930   10                The Busy Executive's Database Guide
19      P723   25  Cooking with Computers: Surreptitious Balance ...
20   QA879.1   30                           But Is It User Friendly?

### Hint:

In SQL the syntax is:

```sql
SELECT ord_num, qty, titles.title
FROM sales
RIGHT JOIN titles
ON sales.title_id=titles.title_id;
```

## 4. Select the full name of all employees and the name of the publisher they work for

In [ ]:
e = employee

df = pd.merge(e, p, on="pub_id", how="left")
df[["fname", "pub_name"]]

        fname               pub_name
0        Aria   Algodata Infosystems
1     Annette     Lucerne Publishing
2         Ann         Scootney Books
3     Anabela       Binnet & Hardley
4      Carlos     Lucerne Publishing
5      Carine   Algodata Infosystems
6      Daniel       Binnet & Hardley
7       Diego   Algodata Infosystems
8   Elizabeth       Binnet & Hardley
9   Francisco         Scootney Books
10       Gary         New Moon Books
11      Helen       Binnet & Hardley
12  Helvetius     Lucerne Publishing
13     Howard         New Moon Books
14     Janine                  GGG&G
15      Karin         New Moon Books
16      Karla     Lucerne Publishing
17     Lesley       Binnet & Hardley
18   Laurence         New Moon Books
19      Maria   Algodata Infosystems
20     Manuel     Lucerne Publishing
21    Martine       Binnet & Hardley
22     Miguel   Algodata Infosystems
23   Margaret   Algodata Infosystems
24     Martin         New Moon Books
25      Matti         New Moon Books
26      Maria      Ramona Publishers
27       Mary         New Moon Books
28   Patricia     Lucerne Publishing
29      Palle         New Moon Books
30      Peter       Binnet & Hardley
31      Paolo       Binnet & Hardley
32     Pirkko     Lucerne Publishing
33      Pedro   Algodata Infosystems
34      Paula   Algodata Infosystems
35     Philip         Scootney Books
36       Paul       Binnet & Hardley
37     Roland         New Moon Books
38       Rita  Five Lakes Publishing
39       Sven   Algodata Infosystems
40    Timothy         New Moon Books
41   Victoria       Binnet & Hardley
42      Yoshi   Algodata Infosystems

### Hint:

In SQL the syntax is:

```sql
Select E.fname,E.lname,P.pub_name
from employee E
left join publishers P
on E.pub_id=P.pub_id;
```

## 5. Select the full name and job description of all employees.

In [ ]:
j = jobs

df = pd.merge(e, j, on="job_id", how="left")
df[["fname", "lname", "job_desc"]]

        fname      lname                     job_desc
0        Aria       Cruz          Productions Manager
1     Annette     Roulet              Managing Editor
2         Ann      Devon  Business Operations Manager
3     Anabela  Domingues     Public Relations Manager
4      Carlos   Hernadez                    Publisher
5      Carine    Schmitt         Sales Representative
6      Daniel     Tonini           Operations Manager
7       Diego       Roel              Managing Editor
8   Elizabeth    Lincoln                     Designer
9   Francisco      Chang     Chief Financial Officier
10       Gary     Thomas         Acquisitions Manager
11      Helen    Bennett                       Editor
12  Helvetius       Nagy            Marketing Manager
13     Howard     Snyder                       Editor
14     Janine    Labrune                    Publisher
15      Karin    Josephs                     Designer
16      Karla  Jablonski         Acquisitions Manager
17     Lesley      Brown            Marketing Manager
18   Laurence    Lebihan                    Publisher
19      Maria    Larsson            Marketing Manager
20     Manuel    Pereira     Public Relations Manager
21    Martine      Rance         Acquisitions Manager
22     Miguel    Paolino           Operations Manager
23   Margaret      Smith         Acquisitions Manager
24     Martin     Sommer          Productions Manager
25      Matti  Karttunen              Managing Editor
26      Maria     Pontes                    Publisher
27       Mary    Saveley     Public Relations Manager
28   Patricia    McKenna           Operations Manager
29      Palle      Ibsen            Marketing Manager
30      Peter    Franken          Productions Manager
31      Paolo    Accorti         Sales Representative
32     Pirkko  Koskitalo          Productions Manager
33      Pedro     Afonso                     Designer
34      Paula    Parente     Public Relations Manager
35     Philip     Cramer      Chief Executive Officer
36       Paul    Henriot                    Publisher
37     Roland     Mendel           Operations Manager
38       Rita     Muller                    Publisher
39       Sven    Ottlieb                    Publisher
40    Timothy   O'Rourke         Sales Representative
41   Victoria   Ashworth              Managing Editor
42      Yoshi    Latimer                       Editor

### Hint:

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc
FROM employee
LEFT JOIN jobs
ON employee.job_id = jobs.job_id;
```

## 6. Select the full name, job description and publisher name of all employees
   Hint: you will have to perform 2 joins in a single query to merge 3 tables together.

In [ ]:
df = pd.merge(e, p, on="pub_id", how="left").merge(j, on="job_id",how="left")

df[["fname", "lname", "job_desc","pub_name"]]

        fname      lname                     job_desc               pub_name
0        Aria       Cruz          Productions Manager   Algodata Infosystems
1     Annette     Roulet              Managing Editor     Lucerne Publishing
2         Ann      Devon  Business Operations Manager         Scootney Books
3     Anabela  Domingues     Public Relations Manager       Binnet & Hardley
4      Carlos   Hernadez                    Publisher     Lucerne Publishing
5      Carine    Schmitt         Sales Representative   Algodata Infosystems
6      Daniel     Tonini           Operations Manager       Binnet & Hardley
7       Diego       Roel              Managing Editor   Algodata Infosystems
8   Elizabeth    Lincoln                     Designer       Binnet & Hardley
9   Francisco      Chang     Chief Financial Officier         Scootney Books
10       Gary     Thomas         Acquisitions Manager         New Moon Books
11      Helen    Bennett                       Editor       Binnet & Hardley
12  Helvetius       Nagy            Marketing Manager     Lucerne Publishing
13     Howard     Snyder                       Editor         New Moon Books
14     Janine    Labrune                    Publisher                  GGG&G
15      Karin    Josephs                     Designer         New Moon Books
16      Karla  Jablonski         Acquisitions Manager     Lucerne Publishing
17     Lesley      Brown            Marketing Manager       Binnet & Hardley
18   Laurence    Lebihan                    Publisher         New Moon Books
19      Maria    Larsson            Marketing Manager   Algodata Infosystems
20     Manuel    Pereira     Public Relations Manager     Lucerne Publishing
21    Martine      Rance         Acquisitions Manager       Binnet & Hardley
22     Miguel    Paolino           Operations Manager   Algodata Infosystems
23   Margaret      Smith         Acquisitions Manager   Algodata Infosystems
24     Martin     Sommer          Productions Manager         New Moon Books
25      Matti  Karttunen              Managing Editor         New Moon Books
26      Maria     Pontes                    Publisher      Ramona Publishers
27       Mary    Saveley     Public Relations Manager         New Moon Books
28   Patricia    McKenna           Operations Manager     Lucerne Publishing
29      Palle      Ibsen            Marketing Manager         New Moon Books
30      Peter    Franken          Productions Manager       Binnet & Hardley
31      Paolo    Accorti         Sales Representative       Binnet & Hardley
32     Pirkko  Koskitalo          Productions Manager     Lucerne Publishing
33      Pedro     Afonso                     Designer   Algodata Infosystems
34      Paula    Parente     Public Relations Manager   Algodata Infosystems
35     Philip     Cramer      Chief Executive Officer         Scootney Books
36       Paul    Henriot                    Publisher       Binnet & Hardley
37     Roland     Mendel           Operations Manager         New Moon Books
38       Rita     Muller                    Publisher  Five Lakes Publishing
39       Sven    Ottlieb                    Publisher   Algodata Infosystems
40    Timothy   O'Rourke         Sales Representative         New Moon Books
41   Victoria   Ashworth              Managing Editor       Binnet & Hardley
42      Yoshi    Latimer                       Editor   Algodata Infosystems

### Hint:

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc, pub_name
FROM employee
LEFT JOIN publishers
ON employee.pub_id = publishers.pub_id
LEFT JOIN jobs
ON employee.job_id = jobs.job_id;
```

## 7. Select the full name, job description and publisher name of employees that work for Binnet & Hardley.
   Hint: you can add a `.loc[]` clause after the joins

In [ ]:
df = pd.merge(e, p, on="pub_id", how="left").merge(j, on="job_id", how="left")

df[["fname", "lname", "job_desc", "pub_name"]] [df["pub_name"] == "Binnet & Hardley"]

        fname      lname                  job_desc          pub_name
3     Anabela  Domingues  Public Relations Manager  Binnet & Hardley
6      Daniel     Tonini        Operations Manager  Binnet & Hardley
8   Elizabeth    Lincoln                  Designer  Binnet & Hardley
11      Helen    Bennett                    Editor  Binnet & Hardley
17     Lesley      Brown         Marketing Manager  Binnet & Hardley
21    Martine      Rance      Acquisitions Manager  Binnet & Hardley
30      Peter    Franken       Productions Manager  Binnet & Hardley
31      Paolo    Accorti      Sales Representative  Binnet & Hardley
36       Paul    Henriot                 Publisher  Binnet & Hardley
41   Victoria   Ashworth           Managing Editor  Binnet & Hardley

### Hint:

In [ ]:
pub_jobs = (
employee
    .merge(right = publishers, how = 'left', on = 'pub_id')
    .merge(right = jobs, how = 'left', on = 'job_id')
)

,emp_id,fname,minit,lname,job_id,job_lvl,pub_id,hire_date,pub_name,city,state,country,job_desc,min_lvl,max_lvl
0,A-C71970F,Aria,NaN,Cruz,10,87,1389,1991-10-26 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Productions Manager,75,165
1,A-R89858F,Annette,NaN,Roulet,6,152,9999,1990-02-21 00:00:00,Lucerne Publishing,Paris,NaN,France,Managing Editor,140,225
2,AMD15433F,Ann,M,Devon,3,200,9952,1991-07-16 00:00:00,Scootney Books,New York,NY,USA,Business Operations Manager,175,225
3,ARD36773F,Anabela,R,Domingues,8,100,877,1993-01-27 00:00:00,Binnet & Hardley,Washington,DC,USA,Public Relations Manager,100,175
4,CFH28514M,Carlos,F,Hernadez,5,211,9999,1989-04-21 00:00:00,Lucerne Publishing,Paris,NaN,France,Publisher,150,250
5,CGS88322F,Carine,G,Schmitt,13,64,1389,1992-07-07 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Sales Representative,25,100
6,DBT39435M,Daniel,B,Tonini,11,75,877,1990-01-01 00:00:00,Binnet & Hardley,Washington,DC,USA,Operations Manager,75,150
7,DWR65030M,Diego,W,Roel,6,192,1389,1991-12-16 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Managing Editor,140,225
8,ENL44273F,Elizabeth,N,Lincoln,14,35,877,1990-07-24 00:00:00,Binnet & Hardley,Washington,DC,USA,Designer,25,100
9,F-C16315M,Francisco,NaN,Chang,4,227,9952,1990-11-03 00:00:00,Scootney Books,New York,NY,USA,Chief Financial Officier,175,250
10,GHT50241M,Gary,H,Thomas,9,170,736,1988-08-09 00:00:00,New Moon Books,Boston,MA,USA,Acquisitions Manager,75,175
11,H-B39728F,Helen,NaN,Bennett,12,35,877,1989-09-21 00:00:00,Binnet & Hardley,Washington,DC,USA,Editor,25,100
12,HAN90777M,Helvetius,A,Nagy,7,120,9999,1993-03-19 00:00:00,Lucerne Publishing,Paris,NaN,France,Marketing Manager,120,200
13,HAS54740M,Howard,A,Snyder,12,100,736,1988-11-19 00:00:00,New Moon Books,Boston,MA,USA,Editor,25,100
14,JYL26161F,Janine,Y,Labrune,5,172,9901,1991-05-26 00:00:00,GGG&G,Mnchen,NaN,Germany,Publisher,150,250
15,KFJ64308F,Karin,F,Josephs,14,100,736,1992-10-17 00:00:00,New Moon Books,Boston,MA,USA,Designer,25,100
16,KJJ92907F,Karla,J,Jablonski,9,170,9999,1994-03-11 00:00:00,Lucerne Publishing,Paris,NaN,France,Acquisitions Manager,75,175
17,L-B31947F,Lesley,NaN,Brown,7,120,877,1991-02-13 00:00:00,Binnet & Hardley,Washington,DC,USA,Marketing Manager,120,200
18,LAL21447M,Laurence,A,Lebihan,5,175,736,1990-06-03 00:00:00,New Moon Books,Boston,MA,USA,Publisher,150,250
19,M-L67958F,Maria,NaN,Larsson,7,135,1389,1992-03-27 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Marketing Manager,120,200
20,M-P91209M,Manuel,NaN,Pereira,8,101,9999,1989-01-09 00:00:00,Lucerne Publishing,Paris,NaN,France,Public Relations Manager,100,175
21,M-R38834F,Martine,NaN,Rance,9,75,877,1992-02-05 00:00:00,Binnet & Hardley,Washington,DC,USA,Acquisitions Manager,75,175
22,MAP77183M,Miguel,A,Paolino,11,112,1389,1992-12-07 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Operations Manager,75,150
23,MAS70474F,Margaret,A,Smith,9,78,1389,1988-09-29 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Acquisitions Manager,75,175
24,MFS52347M,Martin,F,Sommer,10,165,736,1990-04-13 00:00:00,New Moon Books,Boston,MA,USA,Productions Manager,75,165
25,MGK44605M,Matti,G,Karttunen,6,220,736,1994-05-01 00:00:00,New Moon Books,Boston,MA,USA,Managing Editor,140,225
26,MJP25939M,Maria,J,Pontes,5,246,1756,1989-03-01 00:00:00,Ramona Publishers,Dallas,TX,USA,Publisher,150,250
27,MMS49649F,Mary,M,Saveley,8,175,736,1993-06-29 00:00:00,New Moon Books,Boston,MA,USA,Public Relations Manager,100,175
28,PCM98509F,Patricia,C,McKenna,11,150,9999,1989-08-01 00:00:00,Lucerne Publishing,Paris,NaN,France,Operations Manager,75,150
29,PDI47470M,Palle,D,Ibsen,7,195,736,1993-05-09 00:00:00,New Moon Books,Boston,MA,USA,Marketing Manager,120,200
30,PHF38899M,Peter,H,Franken,10,75,877,1992-05-17 00:00:00,Binnet & Hardley,Washington,DC,USA,Productions Manager,75,165
31,PMA42628M,Paolo,M,Accorti,13,35,877,1992-08-27 00:00:00,Binnet & Hardley,Washington,DC,USA,Sales Representative,25,100
32,POK93028M,Pirkko,O,Koskitalo,10,80,9999,1993-11-29 00:00:00,Lucerne Publishing,Paris,NaN,France,Productions Manager,75,165
33,PSA89086M,Pedro,S,Afonso,14,89,1389,1990-12-24 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Designer,25,100
34,PSP68661F,Paula,S,Parente,8,125,1389,1994-01-19 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Public Relations Manager,100,175
35,PTC11962M,Philip,T,Cramer,2,215,9952,1989-11-11 00:00:00,Scootney Books,New York,NY,USA,Chief Executive Officer,200,250
36,PXH22250M,Paul,X,Henriot,5,159,877,1993-08-19 00:00:00,Binnet & Hardley,Washington,DC,USA,Publisher,150,250
37,R-M53550M,Roland,NaN,Mendel,11,150,736,1991-09-05 00:00:00,New Moon Books,Boston,MA,USA,Operations Manager,75,150
38,RBM23061F,Rita,B,Muller,5,198,1622,1993-10-09 00:00:00,Five Lakes Publishing,Chicago,IL,USA,Publisher,150,250
39,SKO22412M,Sven,K,Ottlieb,5,150,1389,1991-04-05 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Publisher,150,250
40,TPO55093M,Timothy,P,O'Rourke,13,100,736,1988-06-19 00:00:00,New Moon Books,Boston,MA,USA,Sales Representative,25,100
41,VPA30890F,Victoria,P,Ashworth,6,140,877,1990-09-13 00:00:00,Binnet & Hardley,Washington,DC,USA,Managing Editor,140,225
42,Y-L77953M,Yoshi,NaN,Latimer,12,32,1389,1989-06-11 00:00:00,Algodata Infosystems,Berkeley,CA,USA,Editor,25,100

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc, pub_name
FROM employee
LEFT JOIN publishers
ON employee.pub_id=publishers.pub_id
LEFT JOIN jobs
ON employee.job_id=jobs.job_id
WHERE pub_name='Binnet & Hardley';
```

## 8. Select the name and PR Info (from the pub_info table) from all publishers based in Berkeley, California.

In [ ]:
pi = pub_info

df= pd.merge(p, pi, on="pub_id", how="left")

df[["pub_name", "pr_info"]] [ (df["city"] == "Berkeley") & (df["state"] == "CA") ]

               pub_name                                            pr_info
2  Algodata Infosystems  This is sample text data for Algodata Infosyst...

### Hint:

In SQL the syntax is:

```sql
select pub_name, pub_info.pr_info
from publishers
left join pub_info
on pub_info.pub_id = publishers.pub_id
where city in ("Berkeley") and state='CA';

```

## 9. Selet all columns from the discounts table.
   Observe the columns it has and now some of them are filled with NULL values.

In [ ]:
d = discounts

d

        discounttype  stor_id  lowqty  highqty  discount
0   Initial Customer      NaN       0        0      10.5
1    Volume Discount      NaN     100     1000       6.7
2  Customer Discount   8042.0       0        0       5.0

### Hint:

In SQL the syntax is:

```sql
SELECT * FROM discounts;
```

## 10. Select all store names, their store id and the discounts they offer.

	   - When selecting the store id, select it two times: from the stores table
         and from the discounts table.
         
       - ALL stores should be displayed, even if they don't offer any discount 
         (i.e. have a NULL value on the discount column).

In [ ]:
st = stores

df = pd.merge(d, st, on="stor_id", how="right")


df[["stor_name", "stor_id", "discount"]]

                              stor_name  stor_id  discount
0                   Eric the Read Books   6380.0       NaN
1                              Barnum's   7066.0       NaN
2                          News & Brews   7067.0       NaN
3  Doc-U-Mat: Quality Laundry and Books   7131.0       NaN
4                    Fricative Bookshop   7896.0       NaN
5                              Bookbeat   8042.0       5.0

### Hint:

In SQL the syntax is:

```sql
SELECT d.stor_id AS disstor, d.discount, s.stor_id AS storid, s.stor_name 
FROM iscounts AS d
RIGHT JOIN stores AS s
ON d.stor_id=s.stor_id;

```

## 11. Select all store names and the discounts they offer.

       - This time, we don't want do display stores that don't offer any 
         discount.

    Hint: change the join type!

In [ ]:
df = pd.merge(st, d, on="stor_id", how="inner")

df[["stor_name", "discount"]]

  stor_name  discount
0  Bookbeat       5.0

### Hint:

In SQL the syntax is:

```sql
select St.stor_name,St.stor_id ,D.discount
from  stores St 
inner join discounts  D on St.stor_id=D.stor_id ;
```